@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins',-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto;
  scroll-behavior: smooth;
  scroll-padding: 0;
  scrollbar-width: none!important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color-scheme: light;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--BG);
}

a{
  text-decoration: none;
}

:root{
 --ThemeColor : #0070f3;  /* rgb(89, 48, 229);  linear-gradient(180deg,#e52983,#8430e3)  linear-gradient(180deg,#8430e3,#e52983)*/
  --ThemeColorHover : #0042ff;/*rgb(184, 122, 255);*/
  --Gap: 15px;
  --RadiusPhoto: 0px;
  --HeaderHeight: 50px;
  --BG : #0e0e0e;
  --Filter : invert(0);
  --Text : #ffffff;
  --MainColor : #2b87e2;
  --LineHeight : 2em;
  --BorderRadius: 12px;
  --Border: 1px solid rgba(255, 255, 255, .1);
  --Left : 250px;
  --CardBg : #141414;
  --HoverSocial : white;
  --LightLoader :   linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  --DarkLoader :   linear-gradient(to right, #141414 8%, #1d1d1d 18%, #141414 33%);

  /* Circle Menu */
  --CMBorderColor : 0rem solid #000000;
  --CMBackgroundColor : #ffffff;
  --CMTextColor : #000000;
  --CMRadius : 50%;
  --CMPadding : 0.5rem;
  --CMTransition : ease 0.4s;
  --CMTexteActiveColor : #ffffff;
  --CMBackgroundActiveColor : #000000;
  --CMBurgerBg : #000000;
  --CMBurgerRadius : 1em;
  --CMBurgerActiveBg : #ffffff;
}

::selection {
  background: none;
}

.Blur{
  background-color: rgba(0, 0, 0, .8)!important;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

[data-rmiz-modal-overlay="visible"]{
  background-color: rgba(0, 0, 0, .8)!important;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.Hidden{
  opacity: 0;
  transition: .4s;
}

.ButtonComp{
  height: 40px;
  min-width: 40px;
  font-size: 0.9rem;
  background: var(--ThemeColor);
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  padding: 0px 12px;
  white-space: nowrap;
  max-width: 100%;
  transition: 0.2s ease 0s, color 0.2s ease 0s;
  text-decoration: none;
  margin: 0px 5px;
  width: fit-content;
}

.ButtonComp svg {
  margin: 0 5px;
}

.ButtonComp:hover {
  background: var(--ThemeColorHover);
  color: rgb(255, 255, 255);
  cursor: pointer;  
  border-radius: 0px;
}

@media (prefers-color-scheme: light) {
  :root{
    --BG : #121212;
    --Text : #fff;
    --Filter : invert(0);
  }
}

::selection {
  background: none;
}


::-webkit-scrollbar {
  display: none;
}

.NoScroll{
  overflow: hidden!important;
}

/* Header*/ 

.FloatHader{
  width: 200px;
  height: 50px;
  background-color: #00000080;
  backdrop-filter: blur(30px);
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
  margin-left: calc(var(--Left) / 2 );
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.FloatButton{
  color: white;
  position: relative;
  z-index: 2;
  height: 100%;
  flex: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  cursor: pointer;
}

.FloatCircle{
  aspect-ratio: 1 / 1;
  height: 100%;
  position: absolute;
  background-color: red;
  border-radius: 100px ;
}

.CircularMenu{
  position: fixed!important;
  bottom: 30px;
  right: 30px;
}

.MenuLink > * {
  pointer-events: none;
}

.MenuLink a{
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.Header{
  width: 100%;
  height: var(--HeaderHeight);
  /* position: sticky; */
  position: fixed;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--Gap);
  /* padding: 0 calc(2 * var(--Gap));   */
  background-color: var(--BG);
  border-bottom: var(--Border);
}

.Left{  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  background-color: var(--BG);
  height: 100%;
  width: var(--Left);
  border-right: var(--Border);
  overflow: hidden;
}

.LeftContent{
  width: 90%;
  padding: 5px;
  display: flex;
  align-items: center;
}

.LeftContent h2{
  color: white;
  margin: 0;
}

.LeftContent span{
  color: white;
  font-size: .7rem;
}

.LeftMenu{
  width: 32px;
  height: 32px;
  background-color: red;
  border-radius: 100px;
  margin-right: 10px;
}

.UserContainer{
  border-radius: 100px;
  /* border: 1.5px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  width: fit-content;
  margin-right: 10px;
}

.QuoteContainer{
  min-width: 140px;
}

.Right .UserContainer{
  margin-right: 0px;
}

.User{
  max-width: 32px;
  border-radius: 100px;
  cursor: pointer;
}
/* LINK 2 */

.LinkContainer{
  position: relative;
  line-height: 30px;
  margin-right: 10px;
  overflow: hidden;
}

.LinkContainer.FocusMenu::after{
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.LinkContainer::after, .LinkContainer::before{
  content: "";
  background: #000000;
  width: 0%;
  position: absolute;  
  height: 2px;
}

.LinkContainer::before {  
  bottom: 0;
  left: 0;
}

.LinkContainer::after{  
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);  
  bottom: 0;
  right: 0;
}

.LinkContainer:hover::before {  
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  width: 100%;
}

.LinkContainer:hover::after { 
  background-color: transparent;
  width: 100%;
}

/*  */


.Link{
  /* margin-right: 10px; */
  cursor: pointer;
  text-decoration: none;
}

/* HOVER 1 EFFECT */
.Link {
  line-height: var(--LineHeight);
  color: #0000;
  text-shadow: 
    0 0 var(--Text), 
    0 var(--LineHeight) var(--MainColor);
  overflow: hidden;
  transition: .3s;
}

.Link:hover {
  text-shadow: 
    0 calc(-1 * var(--LineHeight)) var(--Text), 
    0 0 #1095c1;
}

/* HOVER 3 EFFECT */

/* .Link {
  --c: #1095c1;
  --h: 1.2em;
  padding: 2px 4px;
  line-height: var(--h);  
  color: #0000;
  overflow: hidden;
  text-shadow: 
    0 calc(-1 * var(--_t, 0em)) var(--c), 
    0 calc(var(--h) - var(--_t, 0em)) #fff;
  background: 
    linear-gradient(var(--c) 0 0) no-repeat 
    calc(200% - var(--_p, 0%)) 100% / 200% var(--_p, .08em);
  transition: .3s var(--_s, 0s), background-position .3s calc(.3s - var(--_s, 0s));
}
.Link:hover {
  --_t: var(--h);
  --_p: 100%;
  --_s: .3s
} */



.Center{  
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  text-align: center;
  height: 100%;
  background-color: var(--BG);
  padding: 7px var(--Gap);
  width: 200px;
}

img.Logo {
  filter: var(--Filter);
}

.Right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  background-color: var(--BG);
  /* flex: 1 1 auto; */
  padding: 5px;
}

.RSIcon svg{
  background: none;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  border-radius: 999px;
  border: none;
  z-index: 2;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px;
}

.RSIcon svg:hover{
  /* background: rgb(32, 32, 32); */
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.Right a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.RSIcon{
  border-radius: 100px;
  transition: .2s;
}

.RSIcon:hover{ 
  background-color: var(--HoverSocial);
}

/* Container*/

.Container{
  margin: 10px;
}


/* GRID */ 

.Masonry-Grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /* margin-left: calc(-1 * var(--Gap)); */
  width: auto;
  width: calc(100% - var(--Left));
  padding-right: calc(1 * var(--Gap));
  padding-top: var(--Gap);
  margin-bottom: var(--Gap);
  /* padding-left: var(--Gap); */
  /* max-width: 1400px; */
  margin: auto;
  height: calc(100vh - var(--HeaderHeight));
  overflow: scroll;
  background-color: #0e0e0e;
}

.Masonry-Col{
  padding-left: var(--Gap); /* gutter size */
  background-clip: padding-box;
  height: fit-content;
}

.Content{
  background-color: var(--BgGal);
  /* border-top-left-radius: 30px;
  border-bottom-left-radius: 30px; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0px 30px 0px 30px;
  /* box-shadow: -20px 0px 20px 0px rgb(0 0 0 / 5%); */
  /* box-shadow: 0px 0px 20px 20px rgb(0 0 0 / 5%); */
  z-index: 2;
}

/* Style your items */
.Masonry-Col > .Masonry-Item { /* change div to reference your elements you put in <Masonry> */
  position: relative;
  margin-bottom: var(--Gap);
  border-radius: var(--RadiusPhoto);
  cursor: pointer;
  transition: var(--Transition);
  vertical-align: bottom;
  border-radius: var(--BorderRadius);
  /* animation: Loader 1s infinite ease-in-out;
  -webkit-animation: Loader 1s infinite ease-in-out; */
  /*box-shadow: 10px 15px 20px 0px rgb(0 0 0 / 12%);*/
}

/* Border Radius must be devide by Scale Item*/
[data-rmiz-modal-img]{
  border-radius: calc(var(--BorderRadius) / 0.35);
  transition: 0.6s!important;
}

.Masonry-Item:hover .Hidden{ 
 opacity: 1;
}

.Masonry-Item:not(.Squarre) {
  /*background: none!important;*/
}

.Masonry-Img {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  border-radius: var(--BorderRadius);
  /* transition: .2s; */
}
.Masonry-Item:hover .Masonry-Img{
  /* transform: scale(1.05); */
}


.Smooth{  
  transition: .4s;
}

.CloseExpand{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.34);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: .4s;
}

.Show{
  opacity: 1;
  z-index: 90;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.invisible{
  opacity: 0;
}

.hidden{
  display: none;
}

.Expand{
  position: fixed;
  z-index: 99;
  filter: invert(0);
}

.Expand.Center{
  left: 50%!important;
  top: 50%!important;
  transform: translate(-50%, -50%);  
}

/* Vertical*/
.Expand[data-ratio="Vertical"]{
  max-height: 100%;
  width: auto;
}

.Expand.Center[data-ratio="Vertical"]{
  height: 80%;
  width: auto;
}


/* Horizontal */
/* SI VERTICAL*/
@media (min-aspect-ratio: 1/1) {

  .Expand[data-ratio="Horizontal"]{  
    max-height: 100%;
    width: auto;
  }

  .Expand.Center[data-ratio="Horizontal"]{
    height: 80%;
    width: auto;
  }

}

@media (max-aspect-ratio: 1/1) {

  .Expand[data-ratio="Horizontal"]{  
    height: auto;
    max-width: 100%;
  }
  
  .Expand.Center[data-ratio="Horizontal"]{
    height: auto;
    width: 80%;
  }

}


.Loader{
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: var(--DarkLoader);
  background-size: 800px 104px;
}

.Masonry-Item {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: var(--DarkLoader);
  background-size: 800px 104px;
  position: relative;
}


/* Search */

.SearchContainer{
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    padding-left: 4px;
    background: rgb(32, 32, 32);
    overflow: hidden;
    width: 100%;
    justify-content: flex-start;
    border-radius: 8px;
    cursor: pointer;
}

.Search{
  flex: 1 1 0px;
  font-size: 0.8rem;
  border: none;
  outline: none;
  text-align: left;
  background: transparent;
  color: rgb(255, 255, 255);
}

.SearchIcon {
  color: white;
  width: 1.5rem;
  padding: 5px;
  margin: 0 5px;
}

/* ABOUT */

.SpaceHeaderContainer{
  margin-top: var(--HeaderHeight);
}

.AboutContainer {
    padding: 0px 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes Loader {
  0%{ background-color: rgba(165,165,165,0.1); }
  50%{ background-color: rgba(165,165,165,0.3); }
  100%{ background-color: rgba(165,165,165,0.1); }
}

@-webkit-keyframes Loader {
  0%{ background-color: rgba(165,165,165,0.1); }
  50%{ background-color: rgba(165,165,165,0.3); }
  100%{ background-color: rgba(165,165,165,0.1); }
}


.FadeIn{
  animation-name: FadeIn;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes FadeIn{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

/* Glow */

.Glow{
    z-index: 1;
    filter: blur(30px);
    border-radius: var(--BorderRadius);
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: Glow;
    animation-timing-function: linear;

    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes Glow{
  0%{
    filter: blur(30px)
  }
  50%{
    filter: blur(8px)
  }
  100%{
    filter: blur(30px)
  }
}

/* Main Page */
.ContentNext {
  display: flex;
}

.FiltresList {
  width: var(--Left);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  height: calc(100vh - var(--HeaderHeight));
  overflow: scroll;
  padding-bottom: var(--Gap);
  border-right: var(--Border);
}



/* Filtres */

.Filtre{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border-radius: 8px;
  font-size: 0.8rem;
  /* margin-top: 8px; */
  letter-spacing: 0px;
  cursor: pointer;
  width: 90%;
  color: rgb(255, 255, 255);
  padding: 5px;
  transition: .2s;
  /* overflow: hidden; */
  /* min-width: 180px; */
}


.Filtre:hover, .Filtre.Focus{
  background-color: rgb(24, 24, 24);
}
.Filtre:hover .Emoji img, .Filtre.Focus .Emoji img, .Filtre:hover .FiltreNb, .Filtre.Focus .FiltreNb{
  background-color: var(--ThemeColor);
}


.Emoji{
  flex: 20%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Emoji img {
  max-width: 40px;
  border-radius: 8px;
  transition: .2s;
  
  /* background-color: var(--ThemeColor); */
}

.FiltreName{
  flex: 60%;
  text-transform: capitalize;
}

.FiltreNb{
  height: 22px;
  flex: 15%;
  font-size: 0.8rem;
  border-radius: 16px;
  padding: 0px 12px;
  background: rgb(32, 32, 32);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
}

/* Projects */

.ProjectsContainer{
  padding: 0px 15px;
}


.ProjectWrapper {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  margin-bottom: 75px;
  /* grid-auto-rows: 25px; For Masonry */
}

.ProjectsContainer h2{
  padding: 30px 0px 10px 0;
  margin: 0 2.5%;
  color: white;
}


.ProjectContainer{
  touch-action: pan-y;
  /* grid-row: span 5;  For Masonry */
}

.ProjectLink{
  text-decoration: none;
}

.ProjectImage{
  font-size: 0px;
  border-radius: 12px;
  /* overflow: hidden; */
  aspect-ratio: 16 / 9;
}

.AutoRatio .ProjectImage{
  aspect-ratio: auto;
}

.ProjectImage video{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 12px;
}



.before-after-slider img {
  aspect-ratio: 16/9;
  height: auto;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.before-after-slider {
  border-radius: 12px;
  overflow: hidden;
}

.before-after-slider__second-photo-container{
  height: 100%;
}
.before-after-drag{
  height: 100%;
  aspect-ratio: 16 / 9;
  width: auto;
}

img.ImageBefore {
  width: auto!important;
  height: 100%;
  aspect-ratio: 16 / 9;
}

.ProjectSlide{
  position: relative!important;
  width: 100%;
}

.embla {
  overflow: hidden;
  border-radius: 12px;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  object-fit: cover;
}

.ProjectIcon{
  width: 36px;
  min-width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 100%;
  margin-right: 15px;
  overflow: hidden;
}

.ProjectIcon img{
  width: 100%;
}

.ProjectContent{
  color: white;
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.ProjectTexte h3{
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}

.ProjectTexte{
  display: flex;
  flex-direction: column;
}

.ProjectTexte span{
  font-size: .6rem;
  color: #aaa;
}

/* ABOUT */

.MainAbout {
  border-radius: 30px;
  overflow: hidden;
}

.InfoUser{
  color: white;
  text-align: center;
  padding: 0 15px 15px 15px;
  background-color: var(--CardBg);
  background-color: #14141480;
  backdrop-filter: blur(30px);
}


.ImageUser {
  border-radius: 100%;
  z-index: 1;
  position: relative;
  margin-top: -48px;
}

/* FOR BG MODE ONLY */

.react-parallax-background-children{
  aspect-ratio: 12 / 6.5;
  width: 100%;

  object-fit: cover;
  height: 120%;
}

/**/

.ParallaxBg {
  height: 200px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: initial!important;
}

.Cover{
  object-fit: cover;
}

.react-parallax-bgimage{
  /* top: -100%; */
  min-height: 220px;
}

.CardAbout {
  color: white;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  margin: 40px auto;
  padding: 15px 30px;
  background-color: var(--CardBg);
}

.CardAbout h2{
  min-width: 100%
}

.Texte{
  flex: 50%;
}

.Texte b{
  color: var(--ThemeColor);
}

.ImageAbout{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  flex: 50%;
  align-items: center;
}

.Lightroom .ImageAbout img{
    grid-column: 1;
    grid-row: 1;
    transition: .4s ease;
}

.Lightroom .ImageAbout:hover .Mockup{
  transform: translate3d(-8%,-8%,80px);
}

.Lightroom .ImageAbout:hover .Interface{
  transform: translate3d(-4%,-4%,40px);
}


.ImageAbout iframe {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  aspect-ratio: 1.5 / 1;
}


.Small{
  transition: .4s;
}


/* Wide */
@media (max-width: 1600px) {
  .ProjectWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1300px) {
  .ProjectWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .ProjectWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .Texte{
    flex: 100%;
  }

  :root{
    --Left: 55px;
  }

  .Small{
    /* align-items: flex-start; */
  }
  
  .Small .Filtre .FiltreName, .Small .Filtre .FiltreNb  {
    opacity: 0;
  }

  
}

@media (max-width: 500px) {
  .ProjectWrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  /* .Right.Home{
    display: none;
  } */

  .Center{
    display: none;
  }
  
}